.menuBuilder {
  width: 70%;

  height: 90vh;
  overflow-y: scroll;

  display: flex;

  flex-wrap: wrap;
  justify-content: space-evenly;
}
.men {
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: column;
  width: 100%;
}
.me {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  line-height: 1rem;
  /* background-color: aqua; */
  justify-content: space-evenly;
}
